div{/*下方指令取代上方*/
    border: 2px dashed black;/*外框*/
    text-align: center;/*文字位置*/
    padding: .5ex;
    margin: 20px;/*邊界之間距離*/
    margin-top: 0px;/*上方邊界之間距離*/
} 
#BoxBorder{/*id內太定部分用#呼叫(class用.)*/
    background-color: yellow;
    border: 2px solid black;/*外框*/
}
#BoxPadding{
    background-color: white;
    border: 2px solid black;/*外框*/
}
#BoxContent{
    padding-bottom: 50px;
}